.App_generator {
  color: white;
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0px 4px;
}

.circle {
  fill: white;
  cursor: pointer;
  opacity: 0.7;
}

.circle.active {
  stroke: black;
  stroke-width: 3;
  opacity: 1;
}

.loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  margin-left: 4px;
}

.detail-container {
  height: 100%;
  width: 100%;
  background-color: #29314d;
  border-radius: 8px;
  padding: 12px;
}

.detail-table {
  padding: 12px;
}

.detail-table .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin-bottom: 8px;
  border-bottom: none;
}

.detail-table .custom-border {
  border-bottom: 1px solid steelblue;
}

.detail-table .row .label {
  color: lightblue;
}

.detail-table .row .value {
  font-weight: bold;
}

.detail-table .row .number {
  font-size: 4em;
}

.weather-icon {
  width: 120px;
}

@media (max-width: 1024px) {
  .App_generator {
    width: 100%;
  }
}
