.App_generator {
  color: white;
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0px 4px;
}

.Circle {
  fill: blue;
  cursor: pointer;
  opacity: 0.7;
}

.Circle.Active {
  stroke: black;
  stroke-width: 3;
  opacity: 1;
}

.Tooltip {
  fill: white;
  text-anchor: middle;
}

.Loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loading-text {
  margin-left: 4px;
}

@media (max-width: 1024px) {
  .App_generator {
    width: 100%;
  }
}
