.App_graph {
  grid-area: graph;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 12px;
  align-self: stretch;
  padding: 0px 12px;
}

.axis path {
  stroke: white;
  stroke-width: 2;
}

.axis text {
  fill: white;
}