.App_graph {
  color: white;
  background-color: var(--secondary-color);
  border-radius: 0px 0px 12px 12px;
  box-sizing: border-box;
  margin: 0px 4px;
}

.axis path {
  stroke: white;
  stroke-width: 2;
}

.axis text {
  fill: white;
}
