.App_sensor {
  color: white;
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0px 4px;
}

.sensor {
  cursor: pointer;
}

.sensor-rect {
  stroke: white;
  stroke-width: 1;
}

.sensor-text {
  fill: white;
  stroke: none;
}