.App_sensor {
  color: white;
  background-color: var(--secondary-color);
  border-radius: 12px 12px 0px 0px;
  box-sizing: border-box;
  margin: 0px 4px;
}

.generator-name {
  font-size: 1.2em;
  padding: 1em 1em 0em 1em;
}

.generator-grid {
  padding: 1em 1em;
}

.grid-svg {
  border: 1px solid white;
}

.sensor {
  cursor: pointer;
}

.sensor-rect {
  stroke: white;
  stroke-width: 1;
  cursor: pointer;
}

.sensor-rect.active {
  stroke: red;
  stroke-width: 2;
}

.sensor-text {
  fill: white;
  stroke: none;
}