:root {
    --primary-color:#16192a;
    --secondary-color: #1f253b;
    --red: #f33d6c;
    --blue: #275cfe;
    --green: #2db98f;
}

.App {
  background-color: var(--primary-color);
  /* min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-areas: 
    "header header"
    "generator sensor"
    "generator graph";
  column-gap: 24px; */
}

@media (max-width: 1024px) {
  /* .App {
    grid-template-areas: 
      "header header"
      "generator generator"
      "sensor graph";
  } */
}
